{{ define "main" }}
<p class="editor-link" style="text-align: center; position: relative;
	top: -185px;"><a href="cloudcannon:collections/data/staff_members" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{{ range .Site.Data.staff_members }}
		<li>
			<div class="staff-image" style="background-image: url({{ .image_path }})"></div>
			<div class="name">{{ .name }}</div>
		</li>
	{{ end }}
</ul>

<div class="thirds story-points">
    <div>
        <h3 class="editable">Celebrate Together</h3>
        <p class="editable">Every purchase fuels the high‑spirited celebration of the Hovlim crew. Let’s raise the energy, share the laughs, and make it unforgettable.</p>
    </div>
    <div>
        <h3 class="editable">Be a Part</h3>
        <p class="editable">When you shop here, you’re choosing more than gear, you’re backing the party, the memories and the team behind Hovlim.</p>
    </div>
    <div>
        <h3 class="editable">Style with Purpose</h3>
        <p class="editable">Look sharp, feel proud, and know your buy makes the celebration happen. Let’s party with purpose.</p>
    </div>
</div>
{{ end }}